@font-face{
  font-family: robot;
  src:url(./fonts/COMPUTERRobot.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: black;
  color: white;
  font-family: robot; 
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  flex: 1;
  
}

h1 {
  font-size: 90px;
}

.comments {
  font-size: 45px;
  margin-top: -20px
}

.weapon {
  font-size: 60px;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  flex: 1;
}

img {
  height: 200px;
  width: 200px;
}

.middle button {
  padding: 0;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}

.score,
.real-score {
  display: flex;
  font-size: 55px;
  margin-top: 60px;
  justify-content: center;
  gap: 30px;
}

.real-score {
  margin-top: 50px;
  display: flex;
  gap: 70px;
}

.outcome {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 30px;
  flex: 1;
}

.game-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  border:white solid;
  text-align: center;
  height: 100%;
}

.reset {
  height: 50px;
  width: 200px;
  margin-top: 50px;
  background-color: gray;
  cursor: pointer;
  border-radius: 10px;
}